<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weteam.dao.GameTagMapper" >
  <resultMap id="BaseResultMap" type="com.weteam.entity.GameTag" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tag_name" property="tagName" jdbcType="VARCHAR" />
    <result column="tag_url" property="tagUrl" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from game_tag
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.weteam.entity.GameTag" >
    insert into game_tag (id, tag_name, tag_url
      )
    values (#{id,jdbcType=INTEGER}, #{tagName,jdbcType=VARCHAR}, #{tagUrl,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.weteam.entity.GameTag" >
    update game_tag
    set tag_name = #{tagName,jdbcType=VARCHAR},
      tag_url = #{tagUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, tag_name, tag_url
    from game_tag
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, tag_name, tag_url
    from game_tag
  </select>
</mapper>